.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #61e608;
  padding: 20px;
  color: rgb(129, 123, 155);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-link {
  color: #61dafb;
}
.footer {
  text-align: center;
  padding: 15px;
  background-color: #222;
  color: white;
  margin-top: 400px;
}

